.row {
    display: flex;
}

.column {
    max-width: 30rem;
    padding: 30px;
    flex: 50%;
}

.text-megasena {
    font-family: "Roboto";
    margin-left: 10px;
    color: #209869;
    font-weight: bold;
    font-size: x-large;
}

.text-mega-premio {
    font-family: "Roboto";
    margin-left: 12px;
    color: #209869;
    font-weight: bold;
    font-size: large;
    margin-left: 45px;
}

p {
    font-family: "Roboto";
    color: #4c556c;
    font-size: small;
}

.image-trevo {
    display: flex;
    align-items: center;
}

.circle-mega {
    font-family: "Roboto";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #209869;
    margin-right: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    color: white;
    font-weight: bold;
}

.text-acc {
    font-family: "Roboto";
    color: #0066b3;
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
}